@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  object-fit: contain;
  max-width: 50%;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.grid-row {
  display: flex;
  gap: 1px;
}

.grid-cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.selected-box {
  width: 20px;
  height: 20px;
}

.selected-box::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--selected-color);
}

.color-selection {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}


.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
}

.letter {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.row {
  display: flex;
}

.pixel {
  width: 5px;
  height: 5px;
}

.black {
  background-color: transparent;
}

.white {
  background-color: white;
}

.dotGothic16-regular {
  font-family: 'DotGothic16', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.target-image-section {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 40px;
}

.target-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.target-image-container h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.target-image {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.available-button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0px;
  color: black;
}

.available-button:hover {
  background-color: #ccc;
}
