@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

body {
  background-color: rgba(50, 50, 50);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  object-fit: contain;
  max-width: 60%;
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

.color-selection {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.color-box {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.available-button {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0px;
  color: black;
}

.available-button:hover {
  background-color: #ccc;
}

.unavailable-button-section {
  color: #fff;
}

.unavailable-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gray-out-button {
  background-color: #ccc;
  position: relative;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 0px;
  overflow: hidden;
  color: rgb(50, 50, 50);
}

.gray-out-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--progress-width);
  background-color: rgba(255, 255, 255, 0.7);
  transition: width 1s linear;
  color: rgb(50, 50, 50);
}

.selection-section {
  color: #fff;
}
